.card {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  text-align: left;
  margin: 0 auto;
}

input[type="text"] {
  border: 1px solid rgb(219, 214, 210);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

input[type="text"]:focus {
  border-color: rgb(100, 40, 0);
  outline: none;
  background-color: lightyellow;
  width: 100%;
}

.submit {
  background-color: rgb(8, 230, 0);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.Sex-Box {
  border: 2px solid rgb(219, 214, 210);
  padding: 2px;
  border-radius: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.Date {
  border: 1px solid rgb(219, 214, 210);
  padding: 5px;
  border-radius: 5px;
  width: 30%;
}